*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none !important;
}

::selection {
  background: #242424;
  color: #fff;
}

:root {
  --font-latin: "ClashDisplay-Variable", sans-serif;
  --font-latin-weight: 500;
  --font-korean: "Sandoll GtNeoCond", "Noto Sans KR", sans-serif;
  --font-korean-weight: 400;
  --font-title: var(--font-latin);
  --font-sans: var(--font-korean);
}

body {
  font-family: var(--font-sans);
  font-weight: var(--font-korean-weight);
  background: var(--bg);
  color: var(--text-0);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  hyphens: none;
  word-break: keep-all;
  overflow-wrap: break-word;
}
